@font-face {
  font-family: "Old London";
  src: url("./assets/OldLondon.ttf");
}
body {
  margin: auto;
  padding: 0;
  max-width: 1024px;
}
h1 {
  font-size: 80px;
  font-family: 'Old London', Helvetica, sans-serif;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
  font-weight: 400;
}

p {
  font-size: 12px;
  text-align: justify;
  margin-top: 8px;
}


.title {
  text-align: center;
  border-bottom: 2px solid black;
}
.title__text {
  margin: 0;
}

.subtitle {
  border-bottom: 2px solid black;
}

.subtitle__text {
  font-weight: 400;
  margin: 0 0 1em 0;
}

.container {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  margin-top: 5px;
}
.container__section--center {
  border-right: 2px solid black;
  border-left: 2px solid black;
}
.container__section {
  text-align: center;
  padding: 0 5px 0 5px;
}
.section__title {
  margin: 0;
}
.separator {
  margin: 10px auto 10px auto;
  padding: 0;
  width: 80px;
  border-top: 2px solid black;
}
.separator--empty {
  border-top: 2px solid black;
  margin: 0;
}
.container__section h4,
h5 {
  margin: 0;
}
.notice--image {
  max-width: 100%;
}

.text-left{
  text-align: left;
}

.notice-mid{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}