@font-face {
  font-family: "Old London";
  src: url("./assets/OldLondon.ttf");
}
:root {
  --spacing1: 0.2em;
  --spacing2: 0.5em;
  --spacing3: 1em;
  --border: 2px solid black;
}
.content {
  margin: auto;
  padding: 5px;
  max-width: 1024px;
  -webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.75);
}
h1 {
  font-size: 80px;
  font-family: "Old London", Helvetica, sans-serif;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
p {
  font-size: 12px;

}

.margin--top__1 {
  margin: var(--spacing1) 0 0 0;
}
.margin--top__3 {
  margin: var(--spacing3) 0 0 0;
}
.margin--tb__2 {
  margin: var(--spacing2) 0 var(--spacing2) 0;
}
.margin--bottom__3 {
  margin: 0 0 var(--spacing3) 0;
}
.margin__0 {
  margin: 0;
}
.padding--lr__1{
  padding: 0 var(--spacing1) 0 var(--spacing1);
  
}
.text__left {
  text-align: left;
}

.text__centered {
  text-align: center;
}

.text__regular {
  font-weight: 400;
}

.text__italic{
  font-style: italic;
}

.text__justify {
  text-align: justify;
}

.container {
  display: grid;
  grid-template-columns: 0.25fr 1fr 0.25fr;
  margin-top: var(--spacing2);
}

.image__full {
  width: 100%;
}
.separator {
  margin: var(--spacing2) auto var(--spacing2) auto;
  padding: 0;
  width: 80px;
  border-top: var(--border);
}

.border--bottom {
  border-bottom: var(--border);
}
.border--lr{
  border-right:  var(--border);
  border-left:  var(--border);
}

.notice--grid__4{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap:var(--spacing2) ;
}
.notice--grid__2{
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  gap:var(--spacing2) ;
}

.text__float{
  position: relative;
  top: 50%;
  width: 100px;
  float:  left;
  text-align: center;
}


/* 
.title {
  text-align: center;
  border-bottom: 2px solid black;
}
.title__text {
  margin: 0;
}

.subtitle {
}

.subtitle__text {
  font-weight: 400;
  margin: 0 0 1em 0;
}


.container__section--center {
  border-right: 2px solid black;
  border-left: 2px solid black;
}
.container__section {
  text-align: center;
  padding: 0 5px 0 5px;
}
.section__title {
  margin: 0;
}
.separator {
  margin: 10px auto 10px auto;
  padding: 0;
  width: 80px;
  border-top: 2px solid black;
}
.separator--empty {
  border-top: 2px solid black;
  margin: 0;
}
.container__section h4,
h5 {
  margin: 0;
}
.notice--image {
}


.notice-mid{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
} */
