body{
    margin: 0;
    padding: 0;
}

.title{
    font-size: 32px;
    text-align: center;
    border-bottom: 2px solid black;
}
.title__text{
    margin:0 ;
}

.subtitle{
    border-bottom: 2px solid black;
}

.subtitle__text{
    margin: 0 0 1em 0;
}

.container{
    display: grid;
    grid-template-columns: 0.2fr auto 0.2fr;
    margin-top: 5px;
}
.container__section--center{
    border-right: 2px solid black;
    border-left: 2px solid black;
}

.section__title{
    padding: 0 5px 0 5px;
    margin: 0;
    text-align: center;
}